NODE_ENV=production
PORT=5000
MONGODB_URI=mongodb+srv://Restaurant-chatbot:Tush1083@restaurant-chatbot.ac7rmsu.mongodb.net/restaurant-chatbot?retryWrites=true&w=majority
SESSION_SECRET=b7bf6d8448c8aa244138723f3357797437e75c24c7e624b562c2a08a0b49f32d
FRONTEND_URL=http://localhost:5173
PAYSTACK_SECRET_KEY=sk_test_020a4b3cddef70c072c79d54fff9dff2d488932b
PAYSTACK_PUBLIC_KEY=pk_test_a95f4fe34d58b34a369b98d4f5c1812bd445c00f
BASE_URL=http://localhost:5000
.env
.env.production
.env.local
